web/WEB-INF/wsdl/localhost_8080/PromediosAplication/CalcPromedios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Promedio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Promedio/" name="CalcPromedios">
<types>
<xsd:schema>
<xsd:import namespace="http://Promedio/" schemaLocation="http://localhost:8080/PromediosAplication/CalcPromedios?xsd=1"/>
</xsd:schema>
</types>
<message name="calcProm">
<part name="parameters" element="tns:calcProm"/>
</message>
<message name="calcPromResponse">
<part name="parameters" element="tns:calcPromResponse"/>
</message>
<message name="calcNotaExamen">
<part name="parameters" element="tns:calcNotaExamen"/>
</message>
<message name="calcNotaExamenResponse">
<part name="parameters" element="tns:calcNotaExamenResponse"/>
</message>
<message name="calcNotaFaltante">
<part name="parameters" element="tns:calcNotaFaltante"/>
</message>
<message name="calcNotaFaltanteResponse">
<part name="parameters" element="tns:calcNotaFaltanteResponse"/>
</message>
<portType name="CalcPromedios">
<operation name="calcProm">
<input wsam:Action="http://Promedio/CalcPromedios/calcPromRequest" message="tns:calcProm"/>
<output wsam:Action="http://Promedio/CalcPromedios/calcPromResponse" message="tns:calcPromResponse"/>
</operation>
<operation name="calcNotaExamen">
<input wsam:Action="http://Promedio/CalcPromedios/calcNotaExamenRequest" message="tns:calcNotaExamen"/>
<output wsam:Action="http://Promedio/CalcPromedios/calcNotaExamenResponse" message="tns:calcNotaExamenResponse"/>
</operation>
<operation name="calcNotaFaltante">
<input wsam:Action="http://Promedio/CalcPromedios/calcNotaFaltanteRequest" message="tns:calcNotaFaltante"/>
<output wsam:Action="http://Promedio/CalcPromedios/calcNotaFaltanteResponse" message="tns:calcNotaFaltanteResponse"/>
</operation>
</portType>
<binding name="CalcPromediosPortBinding" type="tns:CalcPromedios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calcProm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcNotaExamen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcNotaFaltante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcPromedios">
<port name="CalcPromediosPort" binding="tns:CalcPromediosPortBinding">
<soap:address location="http://localhost:8080/PromediosAplication/CalcPromedios"/>
</port>
</service>
</definitions>