src/conf/xml-resources/web-service-references/CalcPromedios/wsdl/localhost_8080/PromediosAplication/CalcPromedios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Promedio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Promedio/">

<xs:element name="calcNotaExamen" type="tns:calcNotaExamen"/>

<xs:element name="calcNotaExamenResponse" type="tns:calcNotaExamenResponse"/>

<xs:element name="calcNotaFaltante" type="tns:calcNotaFaltante"/>

<xs:element name="calcNotaFaltanteResponse" type="tns:calcNotaFaltanteResponse"/>

<xs:element name="calcProm" type="tns:calcProm"/>

<xs:element name="calcPromResponse" type="tns:calcPromResponse"/>

<xs:complexType name="calcProm">
<xs:sequence>
<xs:element name="ListaNotas" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaPond" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcPromResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcNotaFaltante">
<xs:sequence>
<xs:element name="ListaNotas" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaPond" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcNotaFaltanteResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcNotaExamen">
<xs:sequence>
<xs:element name="ListaNotas" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaPond" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcNotaExamenResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>